/*
 * jQuery FlexSlider v1.4
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	width: 1190px; 
	height: 460px;
	}
	
@font-face {
	font-family: myFirstFont;
	src: url("../Fonts/KozGoPro-Light_0.otf") format("opentype");
	}
	
.flexslider .slides li {
	display: none;
	} /* Hide the slides before the JS is loaded. Avoids image jumping */
	
.flexslider .slides img {
	max-width: 1190px; 
	display: block;
	}


/* FlexSlider Default Theme
*********************************/
.flexslider { 
	border: 0px solid #fff; 
	position: relative; 
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	-o-border-radius: 0px; 
	border-radius: 0px;
	}
	
.flexslider .slides  li {
	position: relative;
	font-family:  myFirstFont, "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	}
	
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flexslider-container {
	position: relative;
	}


/* Caption style */
.flex-caption {
	width: 100%; 
	height: -300px;
	padding-bottom: 0px;
	padding-left: 100px; 
	position: absolute; 
	left: 0; 
	bottom: 80px; 
	}

/* Direction Nav */
.flex-direction-nav li a {
	width: 38px; 
	height: 38px; 
	margin: 0px 12px 0px 12px; 
	display: block; 
	background: url(../images/bg_direction_nav.png) no-repeat 0 0; 
	position: absolute; 
	top: 211px; 
	cursor: pointer; 
	text-indent: -9999px;
	} /* set negative margin-top equal to half the height on the directional-nav for perfect vertical centering */
	
.flex-direction-nav li a.next {
	background-position: -38px 0px; 
	right: -8px;
	}
	
.flex-direction-nav li a.prev {
	background-position: 0px 0px; 
	left: -8px;
	}

/* Control Nav */
.flex-control-nav {
	margin-left: -31px; 
	position: absolute; 
	bottom: -30px; 
	left: 50%;
	} /* set negative margin-left equal to half the width on the control-nav for perfect centering */
	
.flex-control-nav li {
	margin: 0 0 0 5px; 
	float: left;
	}
	
.flex-control-nav li:first-child {
	margin: 0;
	}
	
.flex-control-nav li a {
	width: 13px; 
	height: 13px; 
	display: block; 
	background: url(../images/bg_control_nav.png) no-repeat 0 0; 
	cursor: pointer; 
	a:hover {background-position: 0 -13px;
	}
	
.flex-control-nav li a.active {
	background-position: 0 -26px; 
	cursor: default;
	}